h1 {
    font-size: 1rem; /* Korjattu font size */
    font-family: sans-serif; /* Oletin, että tarkoitit sans-serifia, korjattu kirjoitusvirhe */
}

.valokuva {
    height: 60vh;
    width: 140vh;
    margin-left: auto;
    margin-right: auto; /* Lisätty puuttuva puolipiste */
    display: block;
}

/* Taustaväri */
body {
    background-color: #E6F5E6; /* Vaalean vihreä */
}

/* Tekstin väri */
p, h1, h2, h3 {
    color: #333; /* Tummanharmaa */
}

/* Linkkien väri */
a {
    color: #008000; /* Tummanvihreä */
    text-decoration: none; /* Poista alleviivaukset */
}

/* Hover-efekti linkeille */
a:hover {
    color: #006400; /* Tumma vihreä */
}

.minä {
    height: 50vh;
    width: 50vh;
    margin-left: auto; /* Lisätty puuttuva puolipiste */
    margin-right: auto;
    display: block;
}
